$sm-width: 575.98px;
$md-width: 767.98px;
$lg-width: 991.98px;
$xl-width: 1199.98px;
$xxl-width: 1440.98px;

$color-font-main: #333333;
$color-font-hover: #125BAE;
$color-font-history: #5A0488;
$color-font-second: #AAAAAA;
$color-font-bg: #E2EFFF;
$color-font-dark: #000000;
$color-brand:#7397F5;
$color-border: #D5D5D5;
$color-icons: #CBCBCB;
$color-light-grey:#F2F2F2;
$color-white: #FFFFFF;
$color-light-blue: #73AFF4;
